<!DOCTYPE html>
<html>
<head>
  <title>Billingleap</title>
  <%= stylesheet_link_tag    "billingleap/application", media: "all" %>
  <%= javascript_include_tag "billingleap/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
